# Practice Exercises for Single Table SQL

Given a dataset and a set of questions, form the queries to answer the questions. All questions in this particular exercise only require a query to a single table. 

⚠️ *Note:* Please display minimal number of attributes (columns) needed to make sense of your answer. Not too many, not too few.

## Setup
The SQLite database for these exercises has been setup for you. For the curious, you can look at this file for the DDL commands to setup the tables and insert data.  `db_illum_ddl_5_3.sql`

Here is the schema for the database. The arrows show foreign keys, which is just fyi for now. 

![worker_project schema](worker_project_schema.png)

In [1]:
# Make sure to always run this cell when you open this notebook
# Start the Jupyter SQL engine, connecting to a SQLite database 
%reload_ext sql 
%sql sqlite:///worker_project.db

0. In the command line, inspect the sqlite database (worker_project.db) to see what the tables and columns actually are. Any differences you observe? (Also, copy past your output in the cell below)

In [ ]:
Assign   Dept     Project  Worker

1. Get the names of all workers in the Accounting department.

In [7]:
%%sql
Select firstname, lastname from Worker where deptName like "accounting"

 * sqlite:///worker_project.db
Done.

[('Tom', 'Smith'), ('Mary', 'Jones'), ('Jane', 'Burns')]

2. Get the name of the employee in the Research department who has the lowest salary.

In [17]:
%%sql
Select firstname, lastname, salary from Worker where deptname like "Research" order by salary Limit 1

 * sqlite:///worker_project.db
Done.

[('Amanda', 'Chin', 60000)]

3. Get the details of the project with the highest budget.

In [18]:
%%sql
Select * from Project order by budget desc limit 1

 * sqlite:///worker_project.db
Done.

[(1025, 'Neptune', 110, 600000, '01-Feb-2021', 45)]

## The following questions may require more than one query to answer. 
Show your work! Add as many SQL cells as needed for each question. Use comments to indicate how the output of each query is used to arrive at your answer.

4. List out alphabetically the names of all workers working on Project 1001.

In [26]:
%%sql
Select firstname, lastname from worker where empid in (Select empid from assign where projno = 1001) order by lastname

 * sqlite:///worker_project.db
Done.

[('Jane', 'Burns'), ('Amanda', 'Chin'), ('Mary', 'Jones'), ('Tom', 'Smith')]

5. Get an alphabetical list of names and corresponding ratings for all workers on any project managed by Michael Burns.

In [48]:
%%sql
Select firstname, lastname from worker where empid in (Select empid from assign where projno in (Select projno from Project where projmgrid = (Select empid from worker where firstname like "Michael" and lastname like "Burns")))

 * sqlite:///worker_project.db
Done.

[('Michael', 'Burns'), ('Amanda', 'Chin')]

In [49]:
%%sql
Select rating from assign where empid in (Select empid from assign where projno in (Select projno from Project where projmgrid = (Select empid from worker where firstname like "Michael" and lastname like "Burns")))

 * sqlite:///worker_project.db
Done.

[(4,), (5,), (4,), (None,), (None,)]

6. For all projects starting after Feb 1, 2022, find the project number and names of all workers assigned to them.

In [50]:
%%sql
Select projno from project where startdate > "01-Feb-2022";

 * sqlite:///worker_project.db
Done.

[(1005,), (1019,), (1030,)]

In [53]:
%%sql
Select firstname, lastname from worker where empid in (Select empid from Assign where projno in (Select projno from project where startdate > "01-Feb-2022"))

 * sqlite:///worker_project.db
Done.

[('Mary', 'Jones'), ('Michael', 'Burns'), ('Amanda', 'Chin')]

7. Find the names of employees who are not assigned as managers any project.

In [57]:
%%sql
Select Firstname, lastname from worker where empid not in (Select projmgrid from project)

 * sqlite:///worker_project.db
Done.

[('Mary', 'Jones'), ('Jane', 'Burns'), ('Amanda', 'Chin')]

8. Find details of any project with the string "urn" in the project name.

In [58]:
%%sql
Select * from project where projname like "%urn%"

 * sqlite:///worker_project.db
Done.

[(1005, 'Saturn', 101, 400000, '01-Jun-2022', 35)]

9. List out the projects from most to least efficient. (hint: the project with the lowest budget is not necessarily the one that uses time and human resources effectively.)

In [62]:
%%sql
Select * from project order by expecteddurationweeks, budget

 * sqlite:///worker_project.db
Done.

[(1005, 'Saturn', 101, 400000, '01-Jun-2022', 35),
 (1019, 'Mercury', 110, 350000, '15-Feb-2022', 40),
 (1025, 'Neptune', 110, 600000, '01-Feb-2021', 45),
 (1001, 'Jupiter', 101, 300000, '01-Feb-2021', 50),
 (1030, 'Pluto', 110, 380000, '15-Sep-2023', 50)]

10. Explain your reasoning for your solution to #9 (use a Markdown cell), including who should get the award for Most Efficient Project Manager.

I said that whichever projects takes the least time is the most effcient, with projects of equal time being 
differed by how much they cost. So, time is the main factor, followed by money.

11. Bonus!!  A Query that you can't easily answer with just a set of queries: Get a list of project numbers with name and start dates, of all the projects that have the same start date as another. 
*you don't have to answer this, but think about it!*

I don't know how I did it, but see below

In [73]:
%%sql
Select projno, projname, startdate 
from project p
where startdate = (Select startdate from project where startdate=p.startdate and p.projno != projno)

 * sqlite:///worker_project.db
Done.

[(1001, 'Jupiter', '01-Feb-2021'), (1025, 'Neptune', '01-Feb-2021')]

## Submission:

Commit and push your changes to this document by the deadline, and share a link to the repository in the Moodle assignment.